#syntax_conjunctions_highlight
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: max(2%, 2vw, 20px);
    gap: max(2%, 2vw, 20px);

    #page_title
    {
        margin: 0px;
    }

    #left_and_right_flex
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-grow: 1;
        gap: max(2%, 2vw, 20px);

        max-height: 100%;
        overflow: scroll;
    }
}

#left_form_area
{
    height: 100%;
    width: max(20%, 15vw);
    min-width: max(20%, 15vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: max(2%, 2vw, 20px);

    #text_input_area
    {
        flex-grow: 1;
        resize: none;
    }
}

#right_result_area
{
    flex-grow: 1;
    display: flex;

    .result_card
    {
        flex-grow: 1;

        .ant-card-body
        {

            display: flex;
            flex-direction: column;
            height: 100%;

            // If no text is being displayed.
            .placeholder
            {
                margin: auto;
                color: #95949a;
            }
        }
    }
}

.PageCover
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .Text
    {
        text-align: center;
        font-size: 4vw;
        margin-bottom: 4vh;
        user-select: none;
    }
}