body
{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    font-family: "Klee";
}

// To ensure the page has a full width and height.
#__next
{
    width: 100%;
    height: 100%;
}

@font-face
{
    font-family: "NotoSansCuneiform-Regular";
    src: url("/fonts/Noto_Sans_Cuneiform/NotoSansCuneiform-Regular.ttf");
}