#pendulums_container
{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    #pendulums_container_empty__hint_text
    {
        user-select: none;
        font-size: 4vw;
        margin-bottom: 8vw;
    }

    #canvas
    {
        height: 90%;
    }
}