$textarea__z_index: 10;
$mirrored__z_index: 20;

#singing_text_overlay__face_of_sign
{
    #singing_text_overlay__textarea
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: $textarea__z_index;

        width: 100%;
        height: 100%;
    }

    #singing_text__text_container
    {
        position: absolute;
        inset: 0;
        z-index: $mirrored__z_index;
    }
}

#singing_text_overlay
{

    // Consisted by a "board face" and a "stick".
    #singing_text_overlay__sign_area
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #singing_text_overlay__face_of_sign
        {
            height: 60vh;
            width: 80vw;
            position: relative;

            #singing_text_overlay__textarea
            {
                overflow: auto;
                resize: none;

                font-family: "Caveat";
                font-size: 1.5rem;
                line-height: 1.4;

                padding: 0px;
                border: none;
                background: transparent;

                &.Masked
                {
                    color: transparent;
                    caret-color: auto;
                }

                &:focus
                {
                    outline: none;
                    box-shadow: none;
                }
            }

            #singing_text__text_container
            {

                font-family: "Caveat";
                font-size: 1.5rem;
                line-height: 1.4;
                white-space: pre-wrap;
                word-break: break-word;
                overflow: auto;
                pointer-events: none;

                padding: 0px;

                &.Masked
                {
                    display: none;
                }
            }
        }

        #singing_text_overlay__stick_of_sign
        {}
    }
}