#singing_text_overlay
{

    // Consisted by a "board face" and a "stick".
    #singing_text_overlay__sign_area
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #singing_text_overlay__face_of_sign
        {
            height: 60vh;
            width: 80vw;

            #singing_text_overlay__textarea
            {
                width: 100%;
                height: 100%;
                resize: none;

                font-family: "Caveat";
                font-size: 1.5rem;
            }
        }

        #singing_text_overlay__stick_of_sign
        {}
    }
}